<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>
            Compose
        </title>
    </head>
    
    <body>
        <h2>
            Compose new post
        </h2>
        <form action="/compose" method="post" enctype="multipart/form-data">
            Title:
            <br/>
            <input type="text" name="title">
            <br/>
            Content:
            <br/>
            <textarea rows="30" cols="140" name="content "></textarea>
            <p>
                {{handler.compose_result}}
            </p>
            <br/>
            <input type="submit" value="Save ">
        </form>
    </body>

</html>