<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"
        />
        <title>
            Compose
        </title>
        <script type="text/javascript" src="../dependencies/showdown.js">
                                                        
        </script>
        <script type="text/javascript" src="../dependencies/showdown-gui.js">
                                                        
        </script>
        <script type="text/javascript" src="../script/home.js">
                                                        
        </script>
        <link href="../static/compose.css" type="text/css" rel="stylesheet" />
    </head>
    
    <body>
        <script type="text/javascript" src="../dependencies/highlight.js">
                                                        
        </script>
        <div id="pageHeader">
            <h4>
                <a href="http://daringfireball.net/projects/markdown/" title="The Markdown web site">Markdown</a>
            </h4>
        </div>
        <form action="/compose" method="post" enctype="multipart/form-data">
            <div id="leftContainer">
                <div class="paneHeader">
                    <span>
                        {{handler.result_message}}
                    </span>
                </div>
                <label>
                    Title:
                    <input type="text" name="title" placeholder="Blog title" required>
                </label>
                Content:
                <br/>
                <textarea id="inputPane" cols="80" rows="20" class="pane" name="content">
                </textarea>
                <input type="submit" value="Save">
            </div>
            <div id="rightContainer">
                <div class="paneHeader">
                    <select id="paneSetting" selected="outputPane">
                    	<option value="previewPane">
                            Preview
                        </option>
                        <option value="outputPane">
                            HTML Output
                        </option>
                    </select>
                </div>
                <textarea id="outputPane" class="pane" cols="80" rows="20" readonly="readonly"
                name="html">
                </textarea>
                <div id="previewPane" class="pane">
                    <noscript>
                        <h2>
                            You'll need to enable Javascript to use this tool.
                        </h2>
                    </noscript>
                </div>
                <textarea id="syntaxPane" class="pane" cols="80" rows="20" readonly="readonly">
                </textarea>
            </div>
        </form>
        <div id="footer">
            <span id="byline">
                <b>
                    <a href="http://www.attacklab.net/showdown-v0.9.zip">Download v0.9</a>
                </b>
                copyright &copy; 2007
                <script type="text/javascript">
                                                                hivelogic_enkoder(); /* ]]> */
                </script>
                John Fraser
                <script type="text/javascript">
                                                document.write("</a>");
                </script>
            </span>
            <span id="convertTextControls">
                <button id="convertTextButton" type="button" title="Convert text now">
                    Convert text
                </button>
                <select id="convertTextSetting">
                    <option value="delayed">
                        in the background
                    </option>
                    <option value="continuous">
                        every keystroke
                    </option>
                    <option value="manual">
                        manually
                    </option>
                </select>
            </span>
            <div id="processingTime" title="Last processing time">
                0 ms
            </div>
        </div>
    </body>

</html>