<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>
            Edit
        </title>
    </head>
    
    <body>
        <h2>
            Edit
        </h2>
        <a href="/delete/{{post.post_id}}" style="float:right">Delete</a>
        <form action="/edit/{{post.post_id}}" method="post" enctype="multipart/form-data">
            Title:
            <br/>
            <input type="text" name="title" value="{{ post.title }}">
            <br/>
            Content:
            <br/>
            <textarea rows="30" cols="140" name="content" >{{ post.markdown }}</textarea>
            <p>
                {{handler.result_message}}
            </p>
            <br/>
            <input type="submit" value="Save">
        </form>
    </body>

</html>
