<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link href="../static/blog.css" type="text/css" rel="stylesheet"/>
        <title>
            Startup Blog
        </title>
    </head>
    
    <body>
        <div class="header">
            <div style="float:right;">
            <p><span style="color:#ff0000"> {{handler.user_status}}</span> {% if not handler.login_success %}
                <a href="/login">Login</a>
                {% else %}
                <a href="/logout">Logout</a> | 
                <a href="/compose">Compose</a>
                {% end %}
            </p>
            </div>
        </div>

        <p style="clear: both; overflow: hidden;"> </p>

        {% for post in posts %}
             <p>{{post["title"]}}</p>
             {% if handler.login_success %}
                 <div style="float:right;width: auto">
                    <a href="/delete/{{post["_id"]}}">delete</a> | 
                    <a href="/edit/{{post["_id"]}}">edit</a> 
                 </div>
             {% end %}
                 <p>{{ datetime.datetime.fromtimestamp( post["time"] ) }}</p>
                 <div>{% raw  post["html"] %}</div>
                 <hr>
        {% end %}

        <div class="bottom">
            {% for page in pages %}
            {% if page != 1%}
            <span>|</span>
            {% end %}
            {% if page == current_page%}
            <a href="/page/{{page}}"><span style="color:#ff0000">{{page}}</span></a>
            {% else %}
            <a href="/page/{{page}}">{{page}}</a>
            {% end %}
            {% end %}
        </div>
    </body>

</html>
