<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>
            Login
        </title>
    </head>
    
    <body>
        <h2>
            Welcome to Startup Blog！
        </h2>
        <form action="/login" method="post" enctype="multipart/form-data">
            User:
            <input type="text" name="username">
            Password:
            <input type="text" name="password">
            <p>
                {{handler.login_result}}
            </p>
            <br/>
            <input type="submit" value="Login">
        </form>
    </body>

</html>