
.header {
    height: 30px;
    width: 100%;
	background: white;
	border-bottom: 1px solid #CCC;
}


.header   p {
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}

.bottom {
    height: 25px;
    width: 100%;
    background-color: #dddddd;
    float: bottom;
}

body {
    width: 1000px;
    height: 100%;
    margin: auto;
}
